@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap");

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* background-color: var(--background-color); */
  /* background-color: rgb(0, 0, 44); */
  /* background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%); */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(75, 0, 105, 1) 35%,
    rgba(176, 0, 83, 1) 70%
  );
  /* background-repeat: no-repeat; Prevents gradient from repeating */
  background-size: cover;
  /* padding: 0.2rem; */
  overflow-x: hidden;
}
.nav-bar {
  max-width: 1280px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid black; */
}
.logo img {
  height: 2.1rem;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo-text {
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-gray);
}
.right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.username-section p{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: aliceblue;
}
.userprofile-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.15rem;
  border: 3px solid #c0c0c0;
  border-radius: 100%;
}
.userprofile-section i{
  font-size: 35px;
  
  /* transform: translate(0, -0.51px); */
}
.details-section{
  max-width: 1280px;
  margin: 4rem auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4rem;
}
.left-details{
  width: 50%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  

}
.card {
  backdrop-filter: blur(10px);
  z-index: 1;
  background: rgba(69, 0, 71, 0.479); /* Transparent black background */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  position: relative;
  color: white;
  opacity: 1; /* Initially hidden*/
  transform: scale(1); /*Scaled down*/
}
.right-details{
  width: 50%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}